$white:    #fff !default;
$gray-100: #f7f8f9 !default;
$gray-200: #e8eBee !default;
$gray-300: #c2cad0 !default;
$gray-400: #8d989d !default;
$gray-500: #61696e !default;
$gray-600: #303436 !default;

$blue:     #1a72b0 !default;
$yellow:   #f9b44a !default;

$border-radius:    .25rem !default;
$border-radius-lg: .5rem !default;